@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-100: #839a88;
  --color-primary-200: #6f8674;
  --color-primary-300: #5b7260;
  --color-primary-400: #475e4c;
  --color-primary-500: #334a38;
  --color-primary-600: #1f3624;
  --color-primary-700: #0b2210;
  --color-primary-800: #000e00;
  --color-primary-900: #000400;

  --color-secondary-100: #ffe44f;
  --color-secondary-200: #ffd03b;
  --color-secondary-300: #ffc631;
  --color-secondary-400: #ffbc27;
  --color-secondary-500: #f9b21d;
  --color-secondary-600: #efa813;
  --color-secondary-700: #e59e09;
  --color-secondary-800: #db9400;
  --color-secondary-900: #d18a00;

  --color-tertiary-100: #ffa761;
  --color-tertiary-200: #f6934d;
  --color-tertiary-300: #f6934d;
  --color-tertiary-400: #f58333;
  --color-tertiary-500: #f3741a;
  --color-tertiary-600: #da5a00;
  --color-tertiary-700: #c25000;
  --color-tertiary-800: #a94600;
  --color-tertiary-900: #913c00;

  --color-creme: #f6ede0;
  --color-mehrwerkblue: #0000c8;
  --color-staatsanwaltsblau: #3c506e;
  --color-hoermannblue: #043c7b;
  --color-pitred: #c4343c;
  --font-birthstone: "Birthstone", cursive;
  --font-jetbrains: "JetBrains Mono", monospace;

  --gradient-fancy: linear-gradient(to right, #0471a0, #16b2b3, #e5007d);
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .bib {
    background: var(--gradient-fancy);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.bib:hover {
  transition: all 0.3s ease-in-out;
  background: var(--gradient-fancy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*------------ Timline CSS ------------*/

.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  place-items: center;
}

.container {
  width: 70%;
  height: auto;
  position: relative;
}

.container ul {
  list-style: none;
}

.container ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-image: linear-gradient(
    to right,
    var(--color-secondary-900),
    var(--color-secondary-400)
  );
  box-shadow: 1px 1px 25px #000;
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 10;
  position: relative;
}

.container::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--color-tertiary-200),
    var(--color-tertiary-700)
  );
}

.container ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
}

.container ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

.container ul li:last-child {
  margin-bottom: -50px;
}

.container ul li h2 {
  font-family: var(--font-jetbrains);
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.container ul li h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 5px;
  border-radius: 20px;
}

.container ul li p {
  color: white;
}

ul li .date {
  position: absolute;
  top: -40px;
  background-image: linear-gradient(
    to right,
    var(--color-tertiary-300),
    var(--color-tertiary-700)
  );
  height: 35px;
  width: 170px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 15px;
}

.container ul li:nth-child(odd) .date {
  right: 20px;
}

.container ul li .circle {
  width: 30px;
  height: 30px;
  background-color: var(--color-tertiary-100);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.container ul li .circle::after {
  position: absolute;
  content: "";
  background-color: var(--color-tertiary-500);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container ul li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.container ul li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}
.container ul li:last-child .circle {
  animation: wave 2s infinite ease-in-out;
}
@keyframes wave {
  0%,
  100% {
    box-shadow:
      0 0 0 0 rgba(255, 167, 97, 0.7),
      0 0 0 0 rgba(255, 167, 97, 0.5);
  }
  50% {
    box-shadow:
      0 0 0 10px rgba(255, 167, 97, 0),
      0 0 0 20px rgba(255, 167, 97, 0);
  }
}

@media screen and (max-width: 1224px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    transform: translateX(15px);
  }

  .container::after {
    left: -30px;
  }

  .container ul li {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 80px;
  }

  .container ul li:nth-child(odd) {
    transform: translateX(0);
    text-align: left;
  }

  .container ul li:nth-child(odd) h2 {
    text-align: left;
  }

  .container ul li:nth-child(odd) h2::after {
    margin-left: 0;
    margin-right: auto;
  }

  .container ul li:nth-child(odd) p {
    text-align: left;
  }

  .container ul li:nth-child(odd) .date {
    left: 20px;
  }

  .container ul li:nth-child(odd) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .container ul li:nth-child(even) {
    transform: translateX(0);
  }
}

/* Vertical Slider*/
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.wrapper {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  border-radius: 6px;
  width: 200px;
  height: 50px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-delay: calc(30s / var(--count) * (var(--count) - var(--n)) * -1);
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * var(--count)), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * var(--count)), 100%);
  animation-name: scrollRight;
}

.wrapper:hover .itemLeft {
  animation-play-state: paused;
}

.wrapper:hover .itemRight {
  animation-play-state: paused;
}

.itemLeft:hover,
.itemRight:hover {
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: transform 0.2s;
}

.itemTests {
  width: 200px;
  height: 100px;
  background-color: #e11d48;
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-secondary-200);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: var(--color-tertiary-300);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #b84fce;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
  width: 2em;
  height: 2em;
  bottom: 0;
}

::-moz-selection {
  color: var(--color-creme);
  background: var(--color-secondary-500);
}

::selection {
  color: var(--color-creme);
  background: var(--color-secondary-900);
}
